<h2>Spamalot! Mailing Campaigns</h2>
<%= render 'mailings/mailings_table', :campaigns => @mailings %>
<%= link_to("Add a New Mailing", new_mailing_path, :class => "btn btn-primary") %>
<button id="clientTest">Test Client Message</button>
